.button-glow-basic {
	--clr-glow: hsl(327 100% 54%);
	background-color: var(--clr-glow);
	border: none;
	padding: 0.5em 0.75em;
	border-radius: 0.25em;
	position: relative;
	transition: letter-spacing 500ms;
	box-shadow: 
		var(--clr-glow) 0 0 0.5em,
		var(--clr-glow) 0 0 1em;
}

.button-glow-basic:hover,
.button-glow-basic:focus-visible {
	letter-spacing: 2px;
}

.button-glow-basic::before {
	content: '';
	position: absolute;
	border-radius: inherit;
	inset: 0;
	box-shadow: 
		var(--clr-glow) 0 0 1.5em,
		var(--clr-glow) 0 0 2em;
	opacity: 0;
	transition: opacity 500ms ease;
}

.button-glow-basic:hover::before,
.button-glow-basic:focus-visible::before {
	opacity: 1;
}